name: Test

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

jobs:
    test:
        name: Test (${{ matrix.os }}, Node v${{ matrix.node }})
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                os: [ubuntu-latest, macos-latest, windows-latest]
                node: [18, 20]

        steps:
            - name: Checkout Repository
              uses: actions/checkout@v4
              with:
                  submodules: true

            - name: Install Node.js ${{ matrix.node }}
              uses: actions/setup-node@v4
              with:
                  node-version: ${{ matrix.node }}

            - uses: Jimver/cuda-toolkit@v0.2.11
              with:
                  sub-packages: '["nvcc"]'
                  method: network
              if: matrix.os == 'windows-latest'

            - name: Setup PNPM
              uses: pnpm/action-setup@v2
              with:
                  run_install: true

            - name: Build All
              run: pnpm makelib && pnpm build

            - name: Test
              run: pnpm test
